<div class="trands">
    <div class="row m-0 mt-4">
        <!-- Informations -->
        <div class="col-md-8">
            <div class="row m-0 content">
                <div class="col-md-3">
                    <h5 class="m-0">Welcome</h5>
                    <label class="text-light">Your weekly Trends</label>
                </div>
                <div class="col-md-3 d-flex align-content-center flex-wrap">
                    <div class="d-flex rating-info text-right">
                        <h3 class="d-flex align-items-center text-light">+10</h3>
                        <div class="pl-2 d-flex align-items-center">
                            <div class="data">
                                <div class="rating-up">400% <span class="material-icons">arrow_upward</span></div>
                                <label class="rating-text">new accounts</label>
                            </div>

                        </div>
                    </div>
                </div>

                <div class="col-md-3 d-flex align-content-center flex-wrap">
                    <div class="d-flex rating-info text-right">
                        <h3 class="d-flex align-items-center text-light">14</h3>
                        <div class="pl-2 d-flex align-items-center">
                            <div class="data">
                                <div class="rating-down">15% <span class="material-icons">arrow_downward</span></div>
                                <label class="rating-text">badging events</label>
                            </div>

                        </div>
                    </div>
                </div>

                <div class="col-md-3 d-flex align-content-center flex-wrap pr-0">
                    <div class="d-flex rating-info text-right pr-0">
                        <h3 class="d-flex align-items-center  text-light">5</h3>
                        <div class="pl-2 d-flex align-items-center">
                            <div class="data">
                                <div class="rating-up">29% <span class="material-icons">arrow_downward</span></div>
                                <label class="rating-text">appointment cancelled</label>
                            </div>

                        </div>
                    </div>
                </div>


            </div>
        </div>
        <div class="col-md-4">
            <div class="d-flex justify-content-between m-0 content register">
                <div class="info">
                    <h6 class="m-0"><b>EXPAND YOUR REACH</b></h6>
                    <label>Connect to a New Health System</label>
                </div>
                <div class="float-right">
                    <button mat-raised-button class="btn btn-success">Register</button>
                </div>
            </div>
        </div>
    </div>
</div>