<div class="row">
	<div class="col-sm-12 col-md-12 col-lg-12">
		<accordion> <accordion-group is-open="true">
		<accordion-heading> <a
			ui-sref="signOut.signupList" class="accordion-toggle show">
			{{'signOut.signOutHeading' | translate}}<i
			class="pull-right glyphicon"
			ng-class="{'glyphicon-minus': $state.includes('signOut.signupList'), 'glyphicon-plus': !status.open}"></i>
		</a> </accordion-heading>
		<div ui-view="signOutContainer"></div>
		</accordion-group> </accordion>
	</div>
</div>