<div class="row" ng-controller="commonController">
	<div class="col-sm-12 col-md-12 col-lg-12" data-ng-class="{'dNone':!loading}">
		<img align="absmiddle" src="app/ng1/img/partial-loading.gif">&nbsp;{{'common.loading' | translate}}
	</div>
	<div class="table-responsive">
	<vision-data-table service="manageRepsServices"
		operation="searchVendorRepsForShareStaffCredential"
		root-node="data.successData.VendorsRepList"
		total-records-node="data.successData.totalRecords" type="server"
		has-external-search='{{shareStaff}}' 	
		min-length="3"	request-formatter="shareStaffParams"
		initial-request='{"pagination":true,"page":1,"count":5,"filter":{"searchString":"","searchFields":"firstName,lastName,userId,title","searchType":"Exact"},"sorting":{"firstName":"asc"}}'
		id="manageMyShareCrendentials">
		<div class="col-sm-12 col-md-12 col-lg-6 form-inline">
			<div>
				<h3>
					<b>{{'manageReps.header.selectArep'| translate}}</b>
				</h3>
			</div>
			<div class="form-group">
				<label for="exampleInputName2">{{'manageReps.label.searchTerm'|
					translate}} :</label> <input class="form-control input-md" type="text"
					focus-me="true" name="searchTerm" size="35" ng-init="shareStaff.searchString=''"
					ng-model="shareStaff.searchString" maxlength="100" />
			</div>
			<div class="form-group">
				<select id="shareStaffField"
					name="shareStaffField" class="form-control"
					ng-init="shareStaff.searchFields='firstName,lastName,userId,title'"
					ng-model="shareStaff.searchFields"
					ng-change="shareStaff.searchString !== '' ? searchTable(shareStaff):'';">
					<option value="firstName,lastName,userId,title">All Fields</option>
					<option value="firstName">First Name</option>
					<option value="lastName">Last Name</option>
					<option value="userId">Email</option>
					<option value="title">Professional Title</option>
				</select>
			</div>
		</div>
		<div class="col-sm-12 col-md-12 col-lg-12" ng-show="!loading">
			<div class="table-responsive tableResponsive marginT2" >
				<div class="col-sm-12 col-md-12 col-lg-12 paddingL0 paddingR0 marginTP5 marginBP5" ng-if="!shareStaffCredentialsValidateError">
					<div class="clearfix col-sm-7 col-md-8 col-lg-8 pull-left paddingL0">
						<div ng-table-pagination="manageMyShareCrendentials" template-url="'pagination1.html'"></div>
					</div>
					<div class="clearfix col-sm-5 col-md-4 col-lg-4 pull-left paddingR0">
						<div ng-table-pagination="manageMyShareCrendentials" template-url="'paginationCount1.html'"></div>
						<div class="pull-right"><button tooltip-placement="left" tooltip-append-to-body="true"
							tooltip="Last Refresh: {{todayDate | date:'MMM d'}}, {{todayDate | date:'h:m:s a'}}"
							class="btn" type="button" ng-click="searchTable(search)">
							<i class="fa fa-refresh"></i>
						</button>&nbsp;&nbsp;</div>
					</div>
				</div>
				<table ng-table="manageMyShareCrendentials"
					class="table table-striped table-bordered marginTP5 marginBP5">
					<tbody ng-if="manageMyShareCrendentials.data.length>0 && !shareStaffCredentialsValidateError">
						<tr
							ng-repeat="ShareCrendentials in $data | filter:manageRepsSearchTm">
							<td data-title="'manageReps.label.firstName' | translate"
								sortable="'firstName'" class="text-left col-md-2 break-word"
								filter="{ 'firstName': 'text' }"><div class="width200px">{{ShareCrendentials.firstName}}</div></td>
							<td data-title="'manageReps.label.lastName' | translate"
								sortable="'lastName'" class="text-left col-md-2 break-word"
								filter="{ 'lastName': 'text' }"><div class="width200px">{{ShareCrendentials.lastName}}</div></td>
							<td data-title="'manageReps.label.email' | translate"
								sortable="'userId'" class="text-left col-md-2 break-word"
								filter="{ 'userId': 'text' }"><div class="width200px">{{ShareCrendentials.userId}}</div></td>
							<td data-title="'manageReps.label.professionalTitle' | translate"
								sortable="'title'" class="text-left col-md-2 break-word"><div class="width200px">{{ShareCrendentials.title}}</div></td>
							<td data-title="'manageReps.label.shareCredentials' | translate"
								class="text-left col-md-2 break-word"><a
								data-ng-click="goToShareMyCredential(ShareCrendentials.oid,ShareCrendentials.vendorList[0].vendorOid);shareMyCredential()">Share</a></td>
						</tr>
					</tbody>
					<tbody ng-if="manageMyShareCrendentials.data.status=='error' && !shareStaffCredentialsValidateError">
						<tr>
							<td colspan="11">
								<div class="text-danger">
									<span class="fa fa-warning" aria-hidden="true"></span>&nbsp;{{
									manageMyShareCrendentials.data.errorData.ResponseError[0].errorCode
									| translate}}
								</div>
							</td>
						</tr>
					</tbody>
					<tbody ng-if="shareStaffCredentialsValidateError">
						<tr>
							<td colspan="11">
								<div class="text-danger">
									<span>{{'common.errorMessage.allowedSpecialCharacters' | translate}}</span>
								</div>
							</td>
						</tr>
					</tbody>
				</table>
				<div class="col-sm-12 col-md-12 col-lg-12 paddingL0 paddingR0 marginTP5 marginBP5" ng-if="!shareStaffCredentialsValidateError">
					<div class="clearfix col-sm-7 col-md-8 col-lg-8 pull-left paddingL0">
						<div ng-table-pagination="manageMyShareCrendentials" template-url="'pagination1.html'"></div>
					</div>
					<div class="clearfix col-sm-5 col-md-4 col-lg-4 pull-left paddingR0">
						<div ng-table-pagination="manageMyShareCrendentials" template-url="'paginationCount1.html'"></div>
						<div class="pull-right"><button tooltip-placement="left" tooltip-append-to-body="true"
							tooltip="Last Refresh: {{todayDate | date:'MMM d'}}, {{todayDate | date:'h:m:s a'}}"
							class="btn" type="button" ng-click="searchTable(search)">
							<i class="fa fa-refresh"></i>
						</button>&nbsp;&nbsp;</div>
					</div>
				</div>
			</div>
		</div>
	</vision-data-table>
	</div>
</div>