<div class="row">
  <div class="col-sm-12 col-md-12 col-lg-12">
    <accordion>
      <accordion-group is-open="true">
		<accordion-heading>
			<a class="show">{{'shareCredential.shareMyCredentials' | translate}} <i class="pull-right glyphicon" ng-class="{'glyphicon-minus': $state.includes('shareCredentials.myCredentials'), 'glyphicon-plus': !$state.includes('shareCredentials.myCredentials')}"></i></a>
		</accordion-heading>
        <div ui-view="shareMyCredentials"></div>
      </accordion-group>
    </accordion>
  </div>
</div>