<div class="row" >
	<div class="col-sm-12 col-md-12 col-lg-12"
		data-ng-class="{'dNone':!loading}">
		<img align="absmiddle" src="app/ng1/img/partial-loading.gif">&nbsp;{{'common.loading'
		| translate}}
	</div>
	<div class="row col-sm-12 col-md-12 col-lg-12"
		ng-controller="companyProfileController" id="companyContactInformationEdit">
		<div class="col-sm-10 col-md-10 col-lg-10 marginB1 marginT1">
			<h3 class="modal-title">{{'companyProfile.companyContactInformation.header.companyContactInfo'
				| translate}}</h3>
		</div>
		<div class="col-sm-2 col-md-2 col-lg-2 text-right marginTP5">
			<sup class="asterisk">*</sup>&nbsp;{{'common.required' |
				translate}} 
			<a data-ui-sref="companyProfile.editContactInformation.help" ng-show="!isFromManageReps">{{'common.help' | translate}}</a>
			<a data-ui-sref="manage.repAccountDetails.companyProfile.editContactInformation.help" ng-show="isFromManageReps">{{'common.help' | translate}}</a>
		</div>
		<div class="col-sm-12 col-md-12 col-lg-12" ng-if="enableLoading">
			<img align="absmiddle" src="app/ng1/img/partial-loading.gif">&nbsp;{{'common.loading'
			| translate}}
		</div>
		<vision-action> <get-data
			service="companyProfileServices"
			operation="getCompanyContactInformation"
			response-formatter="getContactInformation" root-node="data.successData" form-node="data"></get-data>
		<form novalidate name="editContactInformation"
			id="editContactInformation" autocomplete="off"
			class="form-horizontal">
			<div class="col-sm-12 col-md-12 col-lg-12 marginB1">
				<div class="table-responsive"
					data-ng-if="contactInfosubmitError.status === 'error'">
					<div class="alert alert-danger">
						{{contactInfosubmitError.errorData.ResponseError[0].errorCode | translate}}</div>
				</div>
				<div class="col-sm-6 col-md-6 col-lg-6 marginB1">
					<div class="form-group col-lg-12">
						<label class="col-sm-6 col-md-6 col-lg-6 text-right control-label">{{'companyProfile.companyContactInformation.label.headStreetAddress'
							| translate}}&nbsp;<sup class="asterisk">*</sup>
						</label>
						<div class="col-sm-6 col-md-6 col-lg-6">
							<span tooltip-append-to-body="true" tooltip-placement="bottom" tooltip="{{'companyProfile.companyContactInformation.label.contactCustomerCareToolTip' | translate}}">
							<input type="text" class="form-control input-sm required"
								name="AddressList[0].addressLine1" maxlength="255" id="address1"
								ng-model="data.AddressList[0].addressLine1"
								ng-disabled="true"
								placeholder="{{'companyProfile.companyInformation.placeHolder.headQuaAddress'| translate}}">
							</span>
						</div>
						<div class="col-sm-6 col-md-6 col-lg-6 col-sm-offset-6 col-md-offset-6 col-lg-offset-6">
							<span tooltip-append-to-body="true" tooltip-placement="bottom" tooltip="{{'companyProfile.companyContactInformation.label.contactCustomerCareToolTip' | translate}}">
							<input type="text" class="form-control input-sm"
								id="address2"
								name="AddressList[0].addressLine2" maxlength="255"  ng-disabled="true"
								placeholder="{{'companyProfile.companyInformation.placeHolder.headQuaAddress'| translate}}"
								ng-model="data.AddressList[0].addressLine2">
							</span>
						</div>
						<div class="col-sm-6 col-md-6 col-lg-6 col-sm-offset-6 col-md-offset-6 col-lg-offset-6">
							<span tooltip-append-to-body="true" tooltip-placement="bottom" tooltip="{{'companyProfile.companyContactInformation.label.contactCustomerCareToolTip' | translate}}">
							<input type="text" class="form-control input-sm"
								id="address3"
								name="AddressList[0].addressLine3" maxlength="255" ng-disabled="true"
								placeholder="{{'companyProfile.companyInformation.placeHolder.headQuaAddress'| translate}}"
								ng-model="data.AddressList[0].addressLine3">
							</span>
						</div>
					</div>
					<div class="form-group col-sm-12 col-md-12 col-lg-12">
						<label class="col-sm-6 col-md-6 col-lg-6 text-right control-label">{{'companyProfile.companyContactInformation.label.city'
							| translate}}&nbsp;<sup class="asterisk">*</sup>
						</label>
						<div class="col-sm-6 col-md-6 col-lg-6">
							<span tooltip-append-to-body="true" tooltip-placement="bottom" tooltip="{{'companyProfile.companyContactInformation.label.contactCustomerCareToolTip' | translate}}">
							<input type="text" class="form-control input-sm required"
								name="AddressList[0].city" maxlength="50"
								ng-model="data.AddressList[0].city" ng-disabled="true"
								placeholder="{{'companyProfile.companyInformation.placeHolder.city'| translate}}">
							</span>
						</div>
					</div>
					<div class="form-group col-sm-12 col-md-12 col-lg-12">
						<label class="col-sm-6 col-md-6 col-lg-6 text-right">{{'companyProfile.companyContactInformation.label.stateProvinceDivision'
							| translate}}&nbsp;<sup class="asterisk">*</sup>
						</label>
						<div class="col-sm-6 col-md-6 col-lg-6">
							<span tooltip-append-to-body="true" tooltip-placement="bottom" tooltip="{{'companyProfile.companyContactInformation.label.contactCustomerCareToolTip' | translate}}">
							<select class="form-control input-sm required"
								name="AddressList[0].stateCode" id="stateCode" ng-disabled="true"
								ng-model="data.AddressList[0].stateCode" >
								<option value=""></option>
								<option ng-repeat="option in internationalStatesLookup"
									value="{{option.code}}">{{option.name}}</option>
							</select>
							</span>
						</div>
					</div>
					<div class="form-group col-sm-12 col-md-12 col-lg-12">
						<label class="col-sm-6 col-md-6 col-lg-6 text-right">{{'companyProfile.companyContactInformation.label.zipPostal'
							| translate}}&nbsp;<sup class="asterisk">*</sup>
						</label>
						<div class="col-sm-6 col-md-6 col-lg-6">
							<span tooltip-append-to-body="true" tooltip-placement="bottom" tooltip="{{'companyProfile.companyContactInformation.label.contactCustomerCareToolTip' | translate}}">
							<input type="text" class="form-control input-sm required" ng-disabled="true"
								name="AddressList[0].zip" maxlength="10" min-value="5" max-value="10"
								ng-model="data.AddressList[0].zip" 
								placeholder="{{'companyProfile.companyInformation.placeHolder.zipcode'| translate}}">
							</span>
						</div>
					</div>
					<div class="form-group col-sm-12 col-md-12 col-lg-12">
						<label class="col-sm-6 col-md-6 col-lg-6 text-right">{{'companyProfile.companyContactInformation.label.country'
							| translate}}&nbsp;<sup class="asterisk">*</sup>
						</label>
						<div class="col-sm-6 col-md-6 col-lg-6">
							<span tooltip-append-to-body="true" tooltip-placement="bottom" tooltip="{{'companyProfile.companyContactInformation.label.contactCustomerCareToolTip' | translate}}">
							<select class="form-control input-sm required"
								name="AddressList[0].countryCode" id="countryCode"
								ng-model="data.AddressList[0].countryCode" ng-disabled="true"
								>
								<option value=""></option>
								<option ng-repeat="option in countryLookup" 
									value="{{option.countryCode}}">{{option.countryName}}</option>
							</select>
							</span>
						</div>
					</div>
					<div class="form-group col-sm-12 col-md-12 col-lg-12">
						<label class="col-sm-6 col-md-6 col-lg-6 text-right">{{'companyProfile.companyContactInformation.label.headquatersPhone'
							| translate}}&nbsp;<sup class="asterisk">*</sup>
						</label>
						<div class="col-sm-6 col-md-6 col-lg-6">
							<span tooltip-append-to-body="true" tooltip-placement="bottom" tooltip="{{'companyProfile.companyContactInformation.label.contactCustomerCareToolTip' | translate}}">
							<input type="text" class="form-control input-sm required"
								ng-model="data.VendorDetail.headquartersPhone" ng-disabled="true"
								name="data.AddressList[0].headquartersPhone" maxlength="50"
								placeholder="{{'companyProfile.companyInformation.placeHolder.phone'| translate}}">
							</span>
						</div>
					</div>
					<div class="form-group col-sm-12 col-md-12 col-lg-12">
						<label class="col-sm-6 col-md-6 col-lg-6 text-right">
							{{'companyProfile.companyContactInformation.label.headquatersFax'
							| translate}}</label>
						<div class="col-sm-6 col-md-6 col-lg-6">
							<input type="text" class="form-control input-sm"
								name="VendorDetail.headquartersFax" validator="validateAlphanumSpecial"
								validate-alphanum-special-error-message="{{'common.errorMessage.allowedSpecialCharacters' | translate}}"
								placeholder="{{'companyProfile.companyInformation.placeHolder.fax'| translate}}"
								maxlength="50" ng-model="data.VendorDetail.headquartersFax">
						</div>
					</div>
				</div>
				<div class="col-sm-6 col-md-6 col-lg-6 marginB1">
					<div class="form-group col-sm-12 col-md-12 col-lg-12">
						<label class="col-sm-6 col-md-6 col-lg-6 text-right">{{'companyProfile.companyContactInformation.label.primaryEmail'
							| translate}}&nbsp;<sup class="asterisk">*</sup> <span tooltip-append-to-body="true"
							tooltip-placement="bottom"
							placeholder="{{'companyProfile.companyInformation.placeHolder.businessEmail'| translate}}"
							tooltip="{{'companyProfile.companyContactInformation.label.primaryEmailTooltip' | translate}}">
								<i class="fa fa-question-circle fa-lg"></i>
						</span>
						</label>
						<div class="col-sm-6 col-md-6 col-lg-6">
							<input type="text" class="form-control input-sm required"
								name="VendorDetail.mainEmailAddress" maxlength="100"
								ng-model="data.VendorDetail.mainEmailAddress"
								validator="required,validateEmail,validateAlphanumSpecial"
								validate-alphanum-special-error-message="{{'common.errorMessage.allowedSpecialCharacters' | translate}}"
								validate-email-error-message="{{'companyProfile.companyContactInformation.errorMessage.primaryEmailProperFormate' | translate}}"
								required-error-message="{{'companyProfile.companyContactInformation.errorMessage.primaryEmailRequired' | translate}}">
						</div>
					</div>
					<div class="form-group col-sm-12 col-md-12 col-lg-12">
						<label class="col-sm-6 col-md-6 col-lg-6 text-right control-label">{{'companyProfile.companyContactInformation.label.companyWebsite'
							| translate}}</label>
						<div class="col-sm-6 col-md-6 col-lg-6">
							<input type="text" class="form-control input-sm"
								name="VendorDetail.websiteURL"
								placeholder="{{'companyProfile.companyInformation.placeHolder.companyWebsite'| translate}}"
								maxlength="1028" validator="validateWebsiteURL,validateAlphanumSpecial"
								validate-alphanum-special-error-message="{{'common.errorMessage.allowedSpecialCharacters' | translate}}"
								data-validate-url-error-message="{{'companyProfile.companyContactInformation.errorMessage.validateWebsiteURL' | translate}}"
								ng-model="data.VendorDetail.websiteURL">
						</div>
					</div>
					<!--
					<div class="form-group col-sm-12 col-md-12 col-lg-12">
						<label class="col-sm-6 col-md-6 col-lg-6 text-right control-label">{{'companyProfile.companyContactInformation.label.remitHQAddress'
							| translate}} </label>
						<div class="col-sm-6 col-md-6 col-lg-6">
							<label class="checkbox-inline"> <input type="checkbox"
								ng-model="data.VendorDetail.isHqAddrRemitAddr"
								ng-change="data.VendorDetail.isHqAddrRemitAddrStr = data.VendorDetail.isHqAddrRemitAddr;data.AddressList[1].stateCode = data.AddressList[0].stateCode;data.AddressList[1].countryCode = data.AddressList[0].countryCode"
								name="VendorDetail.isHqAddrRemitAddrStr">
							</label>
						</div>
					</div>
					<div class="form-group col-sm-12 col-md-12 col-lg-12"
						ng-if="!data.VendorDetail.isHqAddrRemitAddr">
						<label class="col-sm-6 col-md-6 col-lg-6 text-right control-label">{{'companyProfile.companyContactInformation.label.streetAddress'
							| translate}}&nbsp;<sup class="asterisk">*</sup>
						</label>
						<div class="col-sm-6 col-md-6 col-lg-6">
							<input type="text" class="form-control input-sm required"
								name="AddressList[1].addressLine1" maxlength="255"
								ng-model="data.AddressList[1].addressLine1"
								validator="required, validateAlphanumSpecial"
								validate-alphanum-special-error-message="{{'common.errorMessage.allowedSpecialCharacters' | translate}}"
								required-error-message="{{'companyProfile.companyContactInformation.errorMessage.remittoAddressRequired' | translate}}">
						</div>
						<div class="col-sm-6 col-md-6 col-lg-6 col-sm-offset-6 col-md-offset-6 col-lg-offset-6">
							<input type="text" class="form-control input-sm"
								name="AddressList[1].addressLine2" maxlength="255"
								validator="validateAlphanumSpecial"
								validate-alphanum-special-error-message="{{'common.errorMessage.allowedSpecialCharacters' | translate}}"
								ng-model="data.AddressList[1].addressLine2">
						</div>
						<div class="col-sm-6 col-md-6 col-lg-6 col-sm-offset-6 col-md-offset-6 col-lg-offset-6">
							<input type="text" class="form-control input-sm"
								name="AddressList[1].addressLine3" maxlength="255"
								validator="validateAlphanumSpecial"
								validate-alphanum-special-error-message="{{'common.errorMessage.allowedSpecialCharacters' | translate}}"
								ng-model="data.AddressList[1].addressLine3">
						</div>
					</div>
					<div class="form-group col-sm-12 col-md-12 col-lg-12"
						ng-if="!data.VendorDetail.isHqAddrRemitAddr">
						<label class="col-sm-6 col-md-6 col-lg-6 text-right control-label">{{'companyProfile.companyContactInformation.label.city'
							| translate}}&nbsp;<sup class="asterisk">*</sup>
						</label>
						<div class="col-sm-6 col-md-6 col-lg-6">
							<input type="text" class="form-control input-sm required"
								name="AddressList[1].city" maxlength="50"
								ng-model="data.AddressList[1].city"
								validator="required,validateAlphanumSpecial"
								validate-alphanum-special-error-message="{{'common.errorMessage.allowedSpecialCharacters' | translate}}"
								required-error-message="{{'companyProfile.companyContactInformation.errorMessage.cityRequired' | translate}}">
						</div>
					</div>
					<div class="form-group col-sm-12 col-md-12 col-lg-12"
						ng-show="!data.VendorDetail.isHqAddrRemitAddr">
						<label class="col-sm-6 col-md-6 col-lg-6 text-right control-label">{{'companyProfile.companyContactInformation.label.stateProvinceDivision'
							| translate}}&nbsp;<sup class="asterisk">*</sup>
						</label>
						<div class="col-sm-6 col-md-6 col-lg-6">
							<select name="AddressList[1].stateCode"
								ng-model="data.AddressList[1].stateCode"
								class="form-control input-sm required" validator="required"
								required-error-message="{{'companyProfile.companyContactInformation.errorMessage.stateRequired' | translate}}">
								<option value=""></option>
								<option ng-selected="option.stateCode === data.AddressList[1].stateCode" ng-repeat="option in stateLookup"
									value="{{option.stateCode}}">{{option.stateName}}</option>
								<option disabled value="">---------------</option>
								<option ng-selected="option.stateCode === data.AddressList[1].stateCode" ng-repeat="option in stateCanLookup"
									value="{{option.stateCode}}">{{option.stateName}}</option>
								<option disabled value="">---------------</option>
								<option ng-selected="option.stateCode === data.AddressList[1].stateCode" ng-repeat="option in stateUsOtherLookup"
									value="{{option.stateCode}}">{{option.stateName}}</option>
							</select>
						</div>
					</div>
					<div class="form-group col-sm-12 col-md-12 col-lg-12"
						ng-if="!data.VendorDetail.isHqAddrRemitAddr">
						<label class="col-sm-6 col-md-6 col-lg-6 text-right">{{'companyProfile.companyContactInformation.label.zipPostal'
							| translate}}&nbsp;<sup class="asterisk">*</sup>
						</label>
						<div class="col-sm-6 col-md-6 col-lg-6">
							<input type="text" class="form-control input-sm required"
								name="AddressList[1].zip" maxlength="10" min-value="5" max-value="10"
								ng-model="data.AddressList[1].zip" validate-min-max-value-error-message="{{'common.errorMessage.invalidZipCodeLength' | translate}}"
								validator="required,validateAlphanumSpecial,validateMinMaxValue"
								validate-alphanum-special-error-message="{{'common.errorMessage.allowedSpecialCharacters' | translate}}"
								required-error-message="{{'companyProfile.companyContactInformation.errorMessage.zipcodeRequired' | translate}}">
						</div>
					</div>
					<div class="form-group col-sm-12 col-md-12 col-lg-12"
						ng-show="!data.VendorDetail.isHqAddrRemitAddr">
						<label class="col-sm-6 col-md-6 col-lg-6 text-right">{{'companyProfile.companyContactInformation.label.country'
							| translate}}&nbsp;<sup class="asterisk">*</sup>
						</label>
						<div class="col-sm-6 col-md-6 col-lg-6">
							<select name="AddressList[1].countryCode"
								ng-model="data.AddressList[1].countryCode"
								class="form-control input-sm required" validator="required"
								required-error-message="{{'companyProfile.companyContactInformation.errorMessage.countryRequired' | translate}}">
								<option value=""></option>
								<option ng-selected="option.countryCode === data.AddressList[1].countryCode" ng-repeat="option in countryLookup"
									value="{{option.countryCode}}">{{option.countryName}}</option>
							</select>
						</div>
					</div>
					<div class="form-group col-sm-12 col-md-12 col-lg-12"
						ng-if="!data.VendorDetail.isHqAddrRemitAddr">
						<label class="col-sm-6 col-md-6 col-lg-6 text-right">{{'common.fax'
							| translate}}</label>
						<div class="col-sm-6 col-md-6 col-lg-6">
							<input type="text" class="form-control input-sm"
								name="AddressList[1].fax" validator="validateAlphanumSpecial"
								validate-alphanum-special-error-message="{{'common.errorMessage.allowedSpecialCharacters' | translate}}"
								maxlength="50" ng-model="data.VendorDetail.remitToAddressFax">
						</div>
					</div>
					-->
					<div ng-if="data" ng-init="data.vendorDetailOid=vendorDetailOid">
							<input type="hidden" ng-model="data.vendorDetailOid" name="vendorDetailOid">
							</div>
							<div ng-if="data" ng-init="data.vendorOid=vendorOid">
							<input type="hidden" ng-model="data.vendorOid" name="vendorOid">
							</div>
					<div class="form-group col-sm-12 col-md-12 col-lg-12">
						<div
							class="col-sm-6 col-md-6 col-lg-6 col-lg-offset-6 col-sm-offset-6 col-md-offset-6 text-left">
							<button type="submit" class="btn btn-success" name="btnSubmit"
								validation-submit="editContactInformation" id="btnSubmit" ng-disabled="loading"
								ng-click="saveCompanyContactVendorInformation(data);callGAPageTrack('saveCompContactInfo');">{{'common.save' | translate}}</button>
						</div>
					</div>
				</div>
			</div>
		</form>
		</vision-action>
	</div>
</div>