<div class="modal-content">
   <div class="modal-header commonDialogHeader">
      <button id="complianceCautionCloseIcon" type="button" class="close" data-dismiss="modal" aria-hidden="true" data-ng-click="$close()">&times;</button>
      <h3 class="modal-title"><b>{{'myDocuments.deleteDocument' | translate}}</b></h3>
   </div>
   <div class="modal-body modelDialogScroll">
      <div class="col-sm-12 col-md-12 col-lg-12">{{'myDocuments.deleteDocumentPara' | translate}}</div>
      <div class="col-sm-12 col-md-12 col-lg-12">
         <vision-data-table service="myDocumentServices" operation="deleteDocument" root-node="data.successData.GetAttachedDocumentDetailsList.GetAttachedDocumentDetails" total-records-node="data.successData.TotalRecords" type="client" id="optionalDeleteDocuments" initial-request='{"count":5,"page":1,"sorting":{"docDefName":"asc"}}'>
            <div data-ng-class="{'dNone':!loading}">
               <img align="absmiddle" src="app/ng1/img/partial-loading.gif" />&nbsp;{{'common.loading' | translate}}
            </div>
            <div class="clearfix paddingT1 paddingB1" ng-table-pagination="optionalDeleteDocuments" template-url="'ng-table/style3.html'"></div>
            <div class="table-responsive">
               <table ng-table="optionalDeleteDocuments" template-pagination="style3" class="table table-striped table-bordered">
                  <tbody ng-if="optionalDeleteDocuments.data.length>0">
                     <tr ng-repeat="deleteDoc in $data">
                        <td class="text-left col-lg-3" data-title="'Name'" sortable="'docDefName'">{{deleteDoc.docDefName}}</td>
                        <td class="text-left col-md-1 col-lg-1" data-title="'myDocuments.category' | translate"></td>
                        <td class="text-left col-md-1 col-lg-2" data-title="'myDocuments.customerName' | translate">{{deleteDoc.customerName}}</td>
                        <td class="text-left col-md-1 col-lg-2" data-title="'myDocuments.rep' | translate">{{deleteDoc.userFirstName}} {{deleteDoc.userLastName}}
                        </td>
                        <td class="text-left col-md-1 col-lg-2" data-title="'myDocuments.updatedBy' | translate">{{deleteDoc.userFirstName}} {{deleteDoc.userLastName}}
                        </td>
                     </tr>
                  </tbody>
                  <tbody ng-if="optionalDeleteDocuments.successData.Status=='Error'">
                     <tr>
                        <td colspan="11">
                           <div class="text-danger">
                              <span class="fa fa-warning" aria-hidden="true"></span> {{optionalDeleteDocuments.data.successData.ResponseError[0].errorCode | translate}}
                           </div>
                        </td>
                     </tr>
                  </tbody>
               </table>
            </div>
         </vision-data-table>
      </div>
   </div>
   <div class="modal-footer">
      <button class="btn btn-warning" type="button" id="deleteCancel" data-ng-click="$close()">{{'common.cancel' | translate}}</button>
      <button class="btn btn-danger" type="button" id="deleteSuccess" data-ng-click="$close()">{{'myDocuments.delete' | translate}}</button>
   </div>
</div>