<div class="row forgot-log">
	<div class="col-sm-12 col-md-12 col-lg-12">
		<div class="modal-header commonDialogHeader">
			<h3 class="modal-title">
				<span>Request Appointment</span>
				<button name="closeBtn" type="button" class="close"
					data-dismiss="modal" id="closeDialog" aria-hidden="true"
					data-ng-click="gotoaddAppointment();">&times;</button>
			</h3>
		</div>
		<div class="modal-body modelDialogScroll">
			<span><p>Appointment request has been submitted successfully.</p></span>
			<div class="col-sm-12 col-md-12 col-lg-12 text-center">
				<button class="btn btn-info input-sm" autofocus
					name="okBtn" id="requestAppointmentSuccessBtn"
					data-ng-click="gotoaddAppointment();">{{'common.ok'|translate}}</button>
			</div>
		</div>
	</div>
</div>