<div class="recent-activity" [ngClass]="{'hide': hideTab}">
    <div class="row m-0">
        <div class="col-md-12 p-4 content-shadow content">

            <h5 class="text-primary head"><b>RECENT ACTIVITY</b></h5>
            <p class="text-light desc">Your recent Vendormate activity log</p>
            <div class="row m-0">
                <div class="col-md-12 p-0">
                    <table class="table">
                        <tr>
                            <td class="name">M4 training course paused </td>
                            <td class="days">10 day</td>
                            <td><button mat-raised-button class="btn action">Register</button></td>
                        </tr>
                        <tr>
                            <td class="name">M4 training course paused </td>
                            <td class="days">10 day</td>
                            <td><button mat-raised-button class="btn action">Register</button></td>
                        </tr>
                        <tr>
                            <td class="name">M4 training course paused </td>
                            <td class="days">10 day</td>
                            <td><button mat-raised-button class="btn action">Register</button></td>
                        </tr>
                        <tr>
                            <td class="name">M4 training course paused </td>
                            <td class="days">10 day</td>
                            <td><button mat-raised-button class="btn action">Register</button></td>
                        </tr>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>