<div class="modal-content">
	<div class="modal-header commonDialogHeader">
		<h4 class="modal-title">
			<b>{{'hpfPayment.label.checkoutConfirmTitle' | translate }}</b>
		</h4>
	</div>
	<div class="modal-body">
		<div class="searchOrg">
			<div class="col-md-12 searchOrg col-md-12 col-lg-12">
				{{'hpfPayment.label.checkoutConfirmDescription1' | translate }} Open Access Plan</div>
				<p>&nbsp;</p>
			<div class="col-md-12 searchOrg col-md-12 col-lg-12">
				{{'hpfPayment.label.checkoutConfirmDescription2' | translate }}</div>
			<div class="col-md-12 col-md-12 col-lg-12 text-center marginT3">
				<button type="button" class="btn  btn-primary" id="nxtBtn"
					data-ng-click="goSCSuccessNavPage();" autofocus>{{'common.next' |
					translate }}</button>
			</div>
		</div>
	</div>
</div>
