<div class="modal-view">
	<div class="modal-header">
		<button id="commonDocumentAlertCloseIcon" type="button" class="close"
			data-dismiss="modal" aria-hidden="true"
			data-ng-click="closeBadgePhotoHelp();">&times;</button>
		<h4 class="modal-title">
			<b>{{'common.helpTitle' | translate}}</b>
		</h4>
	</div>
	<div class="modal-body">
		<div class="col-sm-8 col-md-8 col-lg-8 padding0">
			<h5>
				<b>{{'myProfile.badgePhoto.label.badgePhotoInstructions' |
					translate}}:</b>
			</h5>
			<ul class="list-unstyled">
				<li>{{'myProfile.badgePhoto.label.badgePhotoInstructions1' |
					translate}}</li>
				<li>{{'myProfile.badgePhoto.label.badgePhotoInstructions2' |
					translate}}</li>
				<li>{{'myProfile.badgePhoto.label.badgePhotoInstructions3' |
					translate}}</li>
				<li>{{'myProfile.badgePhoto.label.badgePhotoInstructions4' |
					translate}}</li>
				<li>{{'myProfile.badgePhoto.label.badgePhotoInstructions5' |
					translate}}</li>
				<li>{{'myProfile.badgePhoto.label.badgePhotoInstructions6' |
					translate}}</li>
			</ul>
			<h5>
				<b>{{'myProfile.badgePhoto.label.previewAndCroppingInstructions'
					| translate}}:</b>
			</h5>
			<ul class="list-unstyled">
				<li>{{'myProfile.badgePhoto.label.previewAndCroppingInstructions1'
					| translate}}</li>
				<li>{{'myProfile.badgePhoto.label.previewAndCroppingInstructions2'
					| translate}}</li>
				<li>{{'myProfile.badgePhoto.label.previewAndCroppingInstructions3'
					| translate}}</li>
				<li>{{'myProfile.badgePhoto.label.previewAndCroppingInstructions4'
					| translate}}</li>
				<li>{{'myProfile.badgePhoto.label.previewAndCroppingInstructions5'
					| translate}}</li>
			</ul>
		</div>
		<div class="col-sm-4 col-md-4 col-lg-4 text-right padding0">
			<img src="app/ng1/img/vm_badgePhoto_dimensions.gif" />
		</div>
	</div>
</div>