<div class="modal-content">
	<div class="modal-header commonDialogHeader">
		<button type="button"
				class="close"
				data-dismiss="modal"
				aria-hidden="true"
				data-ng-click="$close();">&times;</button>
		<h4 class="modal-title">
			<b>{{'myProfile.cardManagement.label.creditCardBillingAddress' | translate}}</b>
		</h4>
	</div>
	<div class="modal-body">
		<div class="searchOrg">
			<div class="col-md-12 col-md-12 col-lg-12 text-center">
				{{'myProfile.cardManagement.label.billingAddressUpdatedMessage' | translate}}
			</div>
			<div class="col-md-12 col-md-12 col-lg-12 text-center marginT3">
				<button type="button"
						class="btn btn-blue"
						autofocus
                        data-ng-click="$close();">
                        {{'common.ok' | translate}}
				</button>
			</div>
		</div>
	</div>
</div>