<div class="row forgot-log">
	<div class="col col-sm-12 col-md-12 col-lg-12">
		<div class="modal-header commonDialogHeader">
			<h3 class="modal-title">
				<span class="text-success">{{'changeUsername.header.successUsernameChange'|translate}}</span>
				<button name="changePassword" type="button" class="close"
					data-dismiss="modal" id="closeDialog" aria-hidden="true"
					data-ng-click="logout();closeAndRedirect('login');">&times;</button>
			</h3>
		</div>
		<div class="modal-body modelDialogScroll">
			<span><p>{{'changeUsername.label.successUsernameContent'|translate}}</p></span>
			<div class="col-sm-12 col-md-12 col-lg-12 text-center">
				<button class="btn btn-info input-sm" autofocus
					name="changePassword" id="successBtn "
					data-ng-click="logout();closeAndRedirect('login');">{{'common.ok'|translate}}</button>
			</div>
		</div>
	</div>
</div>