<div class="modal-content" ng-controller="commonController">
	<div class="modal-header commonDialogHeader">
		<button id="complianceCautionCloseIcon" type="button" class="close"
			data-dismiss="modal" aria-hidden="true" data-ng-click="$close();">&times;
		</button>
		<h3 class="modal-title">
			<b>{{'changePassword.header.changeExistingPassword' | translate}}</b>
		</h3>
	</div>
	<div class="modal-body modelDialogScroll">
		<vision-action> <submit-data service="users"
			operation="updatePassword" callback="changePasswordSuccess"></submit-data>
		<div>
			<div ng-class="{'dNone':!loading}">
				<img align="absmiddle" src="app/ng1/img/partial-loading.gif">&nbsp;{{'common.loading'|
				translate}}
			</div>
			<p>
				{{'changePassword.label.changePwdContent1' | translate}} <br />
			</p>
			<div class="col-sm-12 col-md-12 col-lg-12 padding0">
				<div
					class="alert alert-danger paddingR2 paddingL2 paddingT1 paddingB1"
					ng-show="changePasswordError.status == 'error' && !loading" id="forgotPasswordError">
					{{changePasswordError.errorData.ResponseError[0].longMessage}}</div>
			</div>
			<span
				class="col-lg-12 col-md-12 col-sm-12 font-red-color">
				<em><p data-ng-bind-html="'changePassword.label.pwdRequirementTextLine1' | translate"></p></em>
			</span>
			<div class="col-sm-12 col-md-12 col-lg-12 padding0">
				<div
					class="alert alert-danger paddingR2 paddingL2 paddingT1 paddingB1"
					ng-show="submitError.status == 'error'" id="forgotPasswordError">
					{{submitError.errorData.ResponseError[0].longMessage}}</div>
			</div>
			<form novalidate name="changePassword" autocomplete="off"
				class="form-horizontal">
				<div class="form-group">
					<label class="col-sm-4 col-md-4 col-lg-4 control-label">{{'common.username'
						| translate}}</label>
					<div class="col-sm-6 col-md-6 col-lg-6" ng-init="data.userId = userProfile.userId">
						<div class="paddingT2 break-word">{{userProfile.userId}}</div>
						<input type="hidden" id="changePassword.userId" name="userId"
							ng-model="data.userId" />
					</div>
				</div>
				<div class="form-group">
					<label class="col-sm-4 col-md-4 col-lg-4 control-label">{{'changePassword.label.existingPassword'
						| translate}}&nbsp;<sup class="asterisk">*</sup>
					</label>
					<div class="col-sm-8 col-md-8 col-lg-8">
						<input type="password"
							placeholder="{{'changePassword.label.existingPassword' | translate}}"
							focus-me="true" id="changePassword.exitingPassword"
							class="form-control input-sm" maxlength="100"
							name="existingPassword" data-ng-model="data.oldPassword"
							validator="required,validateAlphanumSpecial"
							required-error-message="{{'changePassword.errorMessage.existingPasswordRequired' | translate}}"
							validate-alphanum-special-error-message="{{'changePassword.errorMessage.existingPasswordSpecialCharacters' | translate}}"
							valid-method="watch" />
					</div>
				</div>
				<div class="form-group">
					<label class="col-sm-4 col-md-4 col-lg-4 control-label">{{'resetPassword.label.newPassword'
					| translate}}&nbsp;<sup class="validation-required">*</sup>&nbsp;<span
					 tooltip-placement="bottom" tooltip-class="passwordHelpText" uib-tooltip-html="'changePassword.label.pwdRequirementTextLine1' | translate | trustAsHtml"
					tooltip-append-to-body="true">
						<i class="fa fa-question-circle fa-lg"></i>
					</span>
					</label>
					<div class="col-sm-8 col-md-8 col-lg-8">
						<input type="password" id="changePassword.newPassword"
							class="form-control input-sm" name="newPassword" maxlength="100"
							data-ng-model="data.newPassword" validator="required"
							placeholder="{{'changePassword.label.newPassword' | translate}}"
							data-ng-pattern="/^(?=.*\d)(?=.*[0-9])(?=.*[a-z]?)(?=.*[A-Z])(?=.*[%#\\@^!~?()*_$])[a-zA-Z0-9%#\\@^!~?()*_$]{8,100}$/"
							match="data.confirmPassword"
							required-error-message="{{'changePassword.errorMessage.minimumPasswordRequirements' | translate}}"
							data-ng-model-options="{allowInvalid: true}"
							valid-method="submit" /> <span class="validation-invalid"
							data-ng-show="changePassword.newPassword.$error.pattern && !changePassword.newPassword.$error.match"
							ng-bind-html="'changePassword.errorMessage.minimumPasswordRequirements' | translate"></span>
						<span class="validation-invalid"
							data-ng-show="changePassword.newPassword.$error.match">{{'changePassword.errorMessage.oldNewPasswordMatch' | translate}}</span>
					</div>
				</div>
				<div class="form-group">
					<label class="col-sm-4 col-md-4 col-lg-4 control-label">{{'changePassword.label.verifyNewPassword'
						| translate}}&nbsp;<sup class="asterisk">*</sup>
					</label>
					<div class="col-sm-8 col-md-8 col-lg-8">
						<input type="password"
							placeholder="{{'changePassword.label.verifyNewPassword' | translate}}"
							id="changePassword.verifyNewPassword"
							class="form-control input-sm" maxlength="100"
							name="verifyNewPassword" data-ng-model="data.confirmPassword"
							validator="required"
							required-error-message="{{'changePassword.errorMessage.verifyNewPasswordRequired' | translate}}"
							valid-method="watch" />
					</div>
				</div>
				<div class="form-group">
					<label class="col-sm-4 col-md-4 col-lg-4 control-label"></label>
					<div class="col-sm-8 col-md-8 col-lg-8">
						<button class="btn btn-success input-sm" id="changePasswordSubmit"
							type="submit" validation-submit="changePassword"
							data-ng-click="submit()">{{'common.save' | translate}}</button>
					</div>
				</div>
			</form>
		</div>
		</vision-action>
	</div>
</div>