<div class="row forgot-log">
	<div class="col-sm-12 col-md-12 col-lg-12">
		<div class="modal-header commonDialogHeader">
			<h3 class="modal-title">
				<span>{{'login.header.successTitle'|translate}}</span>
				<button type="button" class="close" data-dismiss="modal"
					aria-hidden="true" data-ng-click="closeAndRedirect('login');">&times;</button>
			</h3>
		</div>
		<div class="modal-body modelDialogScroll">
			<p class="text-center">{{'login.label.successPara'|translate}}</p>
			<div class="col-sm-12 col-md-12 col-lg-12 text-center">
				<button class="btn btn-info input-sm" name="emailSucess"
					id="emailSucess" data-ng-click="closeAndRedirect('login');">{{'common.ok'|translate}}</button>
			</div>
		</div>
	</div>
</div>