<div class="row" ng-controller="commonController">
	<div class="col-sm-12 col-lg-12 col-md-12"
		ng-controller="userController" ng-init="$root.afterLoginLoading=false">
		<div ng-show="disabledBtn">
			<img align="absmiddle" src="app/ng1/img/partial-loading.gif">&nbsp;{{'common.loading'|
			translate}}
		</div>
		<span class="col-sm-12 col-md-12 col-lg-12"><h2>{{'resetPassword.header.resetPasswordTitle'
				| translate}}</h2></span> <span class="col-sm-12 col-md-12 col-lg-12"><p>{{'resetPassword.label.resetPasswordText'
				| translate}}</p></span> 
		<span
			class="col-lg-12 col-md-12 col-sm-12 font-red-color">
			<em><p data-ng-bind-html="'changePassword.label.pwdRequirementTextLine1' | translate"></p></em>
		</span>
		<div class="col-sm-12 col-md-12 col-lg-12">
			<div
				class="alert alert-danger paddingR2 paddingL2 paddingT1 paddingB1 col-lg-7 col-sm-7 col-md-7"
				ng-show="showResetPassError && !disabledBtn" id="resetPasswordError">
				{{errorMessage}}</div>
		</div>
		<form novalidate name="resetPasswordForm" autocomplete="off" id="resetPasswordForm"
			class="col-sm-12 col-md-12 col-lg-12 padding0">
			<div class="form-group col-sm-12 col-md-12 col-lg-12">
				<label class="col-sm-3 col-md-3 col-lg-3 control-label text-right">{{'common.username'
					| translate}}</label>
				<div class="col-sm-4 col-md-4 col-lg-4 break-word"
					ng-init="data.userId=userId">
					{{userId}} <input type="hidden" id="resetPassword.userId"
						name="userId" ng-model="data.userId" />
				</div>
			</div>
			<div class="form-group col-sm-12 col-md-12 col-lg-12">
				<label class="col-sm-3 col-md-3 col-lg-3 control-label text-right">{{'resetPassword.label.existingPassword'
					| translate}}&nbsp;<sup class="asterisk">*</sup>
				</label>
				<div class="col-sm-4 col-md-4 col-lg-4">
					<input type="password"
						placeholder="{{'resetPassword.label.existingPassword' | translate}}"
						id="resetPassword.existingPassword" focus-me="true"
						class="form-control input-sm" name="oldPassword" maxlength="100"
						ng-model="data.oldPassword"
						validator="required,validateAlphanumSpecial"
						required-error-message="{{'resetPassword.errorMessage.existingPasswordRequired' | translate}}"
						validate-alphanum-special-error-message="{{'login.errorMessage.passwordSpecialCharacters' | translate}}"
						valid-method="watch" />
				</div>
			</div>
			<div class="form-group col-sm-12 col-md-12 col-lg-12">
				<label class="col-sm-3 col-md-3 col-lg-3 control-label text-right">{{'resetPassword.label.newPassword'
					| translate}}&nbsp;<sup class="validation-required">*</sup>&nbsp;<span
					 tooltip-placement="bottom" tooltip-class="passwordHelpText" uib-tooltip-html="'changePassword.label.pwdRequirementTextLine1' | translate | trustAsHtml"
				tooltip-append-to-body="true"><i class="fa fa-question-circle fa-lg"></i></span>
				</label>
				<div class="col-sm-4 col-md-4 col-lg-4">
					<input type="password" id="resetPassword.newPassword"
							placeholder="{{'resetPassword.label.newPassword' | translate}}"
							class="form-control input-sm" name="newPassword" maxlength="100"
							data-ng-model="data.newPassword" validator="required"
							data-ng-pattern="/^(?=.*\d)(?=.*[0-9])(?=.*[a-z])(?=.*[A-Z])(?=.*[%#\\@^!~?()*_$])[a-zA-Z0-9%#\\@^!~?()*_$]{8,100}$/"
							match="data.confirmPassword"
							required-error-message="{{'resetPassword.errorMessage.minimumPasswordRequirements' | translate}}"
							data-ng-model-options="{allowInvalid: true}"
							valid-method="submit"> <span class="validation-invalid"
							data-ng-show="resetPasswordForm.newPassword.$error.pattern && !resetPasswordForm.newPassword.$error.match"
							ng-bind-html="'resetPassword.errorMessage.minimumPasswordRequirements' | translate"></span>
						<span class="validation-invalid"
							data-ng-show="resetPasswordForm.newPassword.$error.match">{{'resetPassword.errorMessage.oldNewPasswordMatch' | translate}}</span>
				</div>
			</div>
			<div class="form-group col-sm-12 col-md-12 col-lg-12">
				<label class="col-sm-3 col-md-3 col-lg-3 control-label text-right">{{'resetPassword.label.verifyNewPassword'
					| translate}}&nbsp;<sup class="asterisk">*</sup>
				</label>
				<div class="col-sm-4 col-md-4 col-lg-4">
					<input type="password"
							placeholder="{{'resetPassword.label.verifyNewPassword' | translate}}"
							id="resetPassword.verifyNewPassword"
							class="form-control input-sm" maxlength="100"
							name="verifyNewPassword" data-ng-model="data.confirmPassword"
							validator="required"
							required-error-message="{{'resetPassword.errorMessage.verifyNewPasswordRequired' | translate}}"
							valid-method="watch">
				</div>
			</div>

			<div class="form-group col-sm-12 col-md-12 col-lg-12">
				<label class="col-sm-3 col-md-3 col-lg-3 control-label"></label>
				<div class="col-lg-9 col-sm-9 col-md-9">
					<button class="btn btn-success input-sm" name="resetPasswordForm"
						id="resetPasswordForm" type="submit"
						validation-submit="resetPasswordForm"
						data-ng-click="submit();resetPassword(data);disabledBtn= true">{{'resetPassword.label.resetPassword'
						| translate}}</button>
				</div>
			</div>
		</form>
	</div>
</div>