<div  class="notification">
    
    <!-- Info Content -->
    <div class="row m-0 mt-2">
        <div class="col-md-12 mb-3">
            <h6 class="notification-title">Notifications</h6>
            <hr class="m-0 p-0" />
        </div>
        <!-- Informations -->
        <div class=" col-md-12 content">
            <div class="info d-flex flex-row">
                <div class="info-content">
                    <p class="text-primary">
                        <b>COVID-19 Updates</b>
                    </p>
                    <div class="d-flex flex-row">
                        <label class="description">
                            Due to heightened concerns, routinely
                            acknowledge new related policies and
                            check in for updates.
                        </label>
                        <div class="actions">
                            <button class="btn btn-success">View Policy</button>
                            <button class="btn btn-secondary">Dismiss</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <!-- Informations -->
        <div class="col-md-12 content">
            <div class="info d-flex flex-row">
                <div class="info-content">
                    <p class="text-primary">
                        <b>New Health Systems</b>
                    </p>
                    <div class="d-flex flex-row" *ngIf="!expand">
                        <label class="description">
                            Providence St. Joseph Health locations
                            have joined Vendormate: AK, CA, MT,
                            OR, TX, WA ..<a class="text-primary" (mouseover)="expand = true">more</a>
                        </label>
                        <div class="actions">
                            <button class="btn btn-primary">Register</button>
                            <button class="btn btn-secondary">Dismiss</button>
                        </div>
                    </div>
                    <div class="col-md-12 p-0 mb-3" *ngIf="expand">
                        <label class="description">
                            Providence St. Joseph Health locations
                            have joined Vendormate: AK, CA, MT,
                            OR, TX, WA Looking for additional guidance and
                            information on the Vendormate
                            Credentialing process? <a class="text-primary" (mouseover)="expand = false">less</a>
                        </label>
                        <div class="actions">
                            <button class="btn btn-primary">Register</button>
                            <button class="btn btn-secondary ml-2">Dismiss</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <!-- Informations -->
        <div class="col-md-12 content">
            <div class="info d-flex flex-row">
                <div class="info-content">
                    <p class="text-primary">
                        <b>Monthly Training Webinars</b>
                    </p>
                    <div class="d-flex flex-row">
                        <label class="description">
                            Looking for additional guidance and
                            information on the Vendormate
                            Credentialing process?
                        </label>
                        <div class="actions">
                            <button class="btn btn-primary">See Courses</button>
                            <button class="btn btn-secondary">Dismiss</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <p class="text-center w-100">View More</p>

    </div>
</div>