<div class="modal-content">
	<div class="modal-header commonDialogHeader">
		<button id="accountHelpCloseIcon" type="button" class="close" data-dismiss="modal" aria-hidden="true" data-ng-click="$close()">&times;
		</button>
		<h3 class="modal-title"><b>{{'common.helpTitle' | translate}}</b></h3>
	</div>
	<div class="modal-body modelDialogScroll">
		<p>You may invite a representative to register at any hospital where at least one rep is already registered.</p>
		<p><b>Step 1:</b> Select the appropriate Tax ID.</p>
		<p><b>Step 2:</b> Choose the desired action. You may invite a single rep to multiple accounts, or you may invite multiple reps to a single account.</p>
		<p><b>Step 3:</b> Select rep(s) and account(s). If the rep you are inviting is not in the list select "Add Rep". You will be required to complete all fields and then select an account.</p>
		<p><b>Step 4:</b> Click the "Add to Invitee List" button.</p>
		<p><b>Step 5:</b> Review the invitations list. You may add more invitations to this list by repeating steps 2-4. You may also remove a rep from this list by deselecting the checkbox.</p>
		<p><b>Step 6:</b> Click the "Send Invitations" button.</p>
		<p><b>Step 7:</b> To invite more reps click the "Clear" button and begin again.</p>
	</div>
</div>