<div class="modal-content">
	<div class="modal-header">
		<button id="registrationDisableCloseIcon" type="button" class="close"
			data-dismiss="modal" aria-hidden="true" data-ng-click="$close()">&times;</button>
		<h3 ng-if="regDisableObj.errorCode === '5172'" class="modal-title">
			<b>{{'registrationConfirmHeader' | translate}}</b>
		</h3>
		<h3 ng-if="regDisableObj.errorCode !== '5172'" class="modal-title">{{'registrationDisabledHeader'
			| translate}}</h3>
	</div>
	<div class="modal-body">
		<div ng-if="regDisableObj.errorCode === '5172'">
			<p>{{'registrationConfirmBody'| translate}}</p>
			<div ng-if="updateErrorObject"
				class="col-sm-12 col-md-12 col-lg-12 alert alert-danger">
				<strong><i class="fa fa-warning"></i></strong>
				{{updateErrorObject.errorCode | translate}}
			</div>
			<div class="text-center">
				<button class="btn btn-success" id="cautionOK"
					ng-click="closePopup('ok');">{{'common.ok'| translate}}</button>
				<button id="cautionCancel" class="btn btn-warning"
					ng-click="closePopup('cancel');">{{'common.cancel'|
					translate}}</button>
			</div>
		</div>
		<div ng-if="regDisableObj.errorCode !== '5172'">
			<div class="col-sm-12 col-md-12 col-lg-12 alert alert-danger">
				<strong><i class="fa fa-warning"></i></strong>
				{{regDisableObj.errorMessage}}
			</div>
		</div>
	</div>
</div>