<div fxLayout="row" fxLayoutAlign="space-between center">
  <h1 mat-dialog-title class="m-0 text-primary" style="font-weight: 600;">BADGE ACTIVITY</h1>

  <button mat-icon-button style="background-color: transparent;" (click)="onNoClick()"
    aria-label="Example icon button with a vertical three dot icon">
    <mat-icon class="mat-icon-no-color" style="background-color: transparent;">close</mat-icon>
  </button>
</div>
<div mat-dialog-content>
  <!-- <div style="font-size: 12px;padding: 5px 0px; margin: 10px 0px;">
            <span>
                <span style="margin-right: 10px; vertical-align: middle;">Day : {{dialogdata.selectedCategories}}</span>
                <span style="vertical-align: middle;">Count : {{dialogdata.selectedSeries}}</span>
                <span style="float: right;"> <mat-form-field appearance="fill">
                    <mat-label>Filter Status</mat-label>
                    <select matNativeControl [(ngModel)]="selectedCar" name="car">
                    <option value="" selected></option>
                    <option *ngFor="let car of cars" [value]="car.value">
                        {{car.viewValue}}
                    </option>
                    </select>
                     </mat-form-field>
                </span>
            </span>
        </div> -->
  <div fxLayout="row" fxLayoutAlign="space-between center">
    <div fxflex="60" style="font-size: 14px;">Date: {{dialogdata.VisitedDate}} <br><span>Day :
        {{dialogdata.selectedCategories}}</span>&nbsp;&nbsp;<span>Day : {{dialogdata.selectedSeries}}</span></div>

    <div fxflex="40">
      <mat-form-field appearance="fill" style="font-size: 12px;">
        <mat-label>Filter Status</mat-label>
        <mat-select [(ngModel)]="selectedCar" name="car">
          <mat-option value="" selected></mat-option>
          <mat-option *ngFor="let car of cars" [value]="car.value">
            {{car.viewValue}}
          </mat-option>
        </mat-select>
      </mat-form-field>
    </div>
  </div>
  <table mat-table [dataSource]="dataSource" class="mat-elevation-z8">

    <!--- Note that these columns can be defined in any order.
              The actual rendered columns are set as a property on the row definition" -->

    <!-- Position Column -->
    <ng-container matColumnDef="Rep Information">
      <th mat-header-cell *matHeaderCellDef> Rep Information</th>
      <td mat-cell *matCellDef="let element"> {{element.RepInformation}} </td>
    </ng-container>

    <!-- Name Column -->
    <ng-container matColumnDef="Department">
      <th mat-header-cell *matHeaderCellDef> Department </th>
      <td mat-cell *matCellDef="let element"> {{element.Department}} </td>
    </ng-container>

    <!-- Weight Column -->
    <ng-container matColumnDef="Sign-In Location">
      <th mat-header-cell *matHeaderCellDef> Sign-In Location </th>
      <td mat-cell *matCellDef="let element"> {{element.sighInLoc}} </td>
    </ng-container>

    <!-- Symbol Column -->
    <ng-container matColumnDef="Sign-In By">
      <th mat-header-cell *matHeaderCellDef> Sign-In By </th>
      <td mat-cell *matCellDef="let element"> {{element.signInBy}} </td>
    </ng-container>

    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
  </table>
</div>
<div mat-dialog-actions style="float: right;">
  <button mat-button (click)="onNoClick()">Cancel</button>
  <!-- <button mat-button [mat-dialog-close]="dialogdata" cdkFocusInitial>Yes</button> -->
</div>