table {
    width: 100%;
  }

  .mat-icon:hover{
    background-color: transparent !important;
  }

  .mat-elevation-z8{
    box-shadow: none !important;
  }
  .mat-form-field-appearance-fill .mat-form-field-flex{
    padding: .30em .75em 0 .75em;
  }