<div fxLayout="row" fxLayoutAlign="space-between center">
  <h1 mat-dialog-title class="m-0 text-primary" style="font-weight: 600;">BADGE ACTIVITY</h1>

  <button mat-icon-button style="background-color: transparent;" (click)="onNoClick()"
    aria-label="Example icon button with a vertical three dot icon">
    <mat-icon class="mat-icon-no-color" style="background-color: transparent;">close</mat-icon>
  </button>
</div>
<div fxLayout="row" fxLayoutAlign="space-between center">
    <div fxflex="60" style="font-size: 14px;">Date: {{dialogdata.VisitedDate}} <br>
        <span>
           <!--  Day :{{dialogdata.selectedCategories}}</span>&nbsp;&nbsp;<span>Day : {{dialogdata.selectedSeries}}     -->
               Total Number of Records : 17
        </span>
    </div>

    <div fxflex="40">
        <span style="font-size: 13px;">Filter Status : </span> &nbsp;&nbsp;
        <span><mat-form-field appearance="fill" style="font-size: 12px;">
        <mat-label>Action</mat-label>
        <mat-select [(ngModel)]="dialogdata.selectedSeriesName" name="car">
          <!-- <mat-option value="" selected></mat-option> -->
          <mat-option *ngFor="let car of cars" [value]="car.value">
            {{car.viewValue}}
          </mat-option>
        </mat-select>
      </mat-form-field>
    </span>
    </div>
  </div>
<div mat-dialog-content>
  <!-- <div style="font-size: 12px;padding: 5px 0px; margin: 10px 0px;">
            <span>
                <span style="margin-right: 10px; vertical-align: middle;">Day : {{dialogdata.selectedCategories}}</span>
                <span style="vertical-align: middle;">Count : {{dialogdata.selectedSeries}}</span>
                <span style="float: right;"> <mat-form-field appearance="fill">
                    <mat-label>Filter Status</mat-label>
                    <select matNativeControl [(ngModel)]="selectedCar" name="car">
                    <option value="" selected></option>
                    <option *ngFor="let car of cars" [value]="car.value">
                        {{car.viewValue}}
                    </option>
                    </select>
                     </mat-form-field>
                </span>
            </span>
        </div> -->
  
  <table mat-table [dataSource]="dataSource" class="mat-elevation-z8">

    <!--- Note that these columns can be defined in any order.
              The actual rendered columns are set as a property on the row definition" -->

    <!-- Position Column -->
    <ng-container matColumnDef="Sign-In">
      <th mat-header-cell *matHeaderCellDef>Sign-In <br> <br>
        <mat-form-field style="width: 100px;">
        <input matInput placeholder="Sign-In">
      </mat-form-field></th>
      <td mat-cell *matCellDef="let element"> {{element.signIn}} </td>
    </ng-container>

    <!-- Position Column -->
    <ng-container matColumnDef="Sign-Out">
        <th mat-header-cell *matHeaderCellDef>Sign-Out <br> <br>
            <mat-form-field style="width: 100px;">
            <input matInput placeholder="Sign-Out"> </mat-form-field></th>
        <td mat-cell *matCellDef="let element"> {{element.signOut}} </td>
      </ng-container>

    <!-- Name Column -->
    <ng-container matColumnDef="Department">
      <th mat-header-cell *matHeaderCellDef> Department <br> <br>
        <mat-form-field style="width: 100px;">
        <input matInput placeholder="Department"> </mat-form-field></th>
      <td mat-cell *matCellDef="let element"> {{element.Department}} </td>
    </ng-container>

     <!-- Name Column -->
     <ng-container matColumnDef="Event-Type">
        <th mat-header-cell *matHeaderCellDef> Event Type  <br><br>
            <mat-form-field style="width: 100px;">
                <mat-select [(value)]="selected">
                  <mat-option value="option1">All</mat-option>
                  <mat-option value="option2">Printed on site</mat-option>
                  <mat-option value="option3">Print Remotely</mat-option>
                  <mat-option value="option4">Guest Pass</mat-option>
                </mat-select>
              </mat-form-field></th>
        <td mat-cell *matCellDef="let element"> {{element.eventType}} </td>
      </ng-container>

    <!-- Weight Column -->
    <ng-container matColumnDef="Sign-In-Location">
      <th mat-header-cell *matHeaderCellDef> Sign-In Location <br> <br>
        <mat-form-field style="width: 100px;">
        <input matInput placeholder="Sign-In Location"> </mat-form-field></th>
      <td mat-cell *matCellDef="let element"> {{element.sighInLoc}} </td>
    </ng-container>

    <!-- Symbol Column -->
    <ng-container matColumnDef="Sign-Out-Location">
      <th mat-header-cell *matHeaderCellDef>Sign-Out Location <br> <br>
        <mat-form-field style="width: 100px;">
        <input matInput placeholder="Sign-Out Location"></mat-form-field></th>
      <td mat-cell *matCellDef="let element"> {{element.signOutLoc}} </td>
    </ng-container>

     <!-- Symbol Column -->
     <ng-container matColumnDef="Purpose-of-visit">
        <th mat-header-cell *matHeaderCellDef>Purpose of visit <br> <br>
            <mat-form-field style="width: 100px;">
            <input matInput placeholder="Purpose of visit"> </mat-form-field></th>
        <td mat-cell *matCellDef="let element"> {{element.poVisit}} </td>
      </ng-container>
    
      <!-- Symbol Column -->
     <ng-container matColumnDef="Override-Guest-Pass-Reason">
        <th mat-header-cell *matHeaderCellDef>Override/Guest Pass Reason<br>
            <mat-form-field style="width: 100px;">
            <input matInput placeholder="Guest Pass Reason"> </mat-form-field></th>
        <td mat-cell *matCellDef="let element"> {{element.guestPassReason}} </td>
      </ng-container>

       <!-- Symbol Column -->
     <ng-container matColumnDef="Badge-Printed">
        <th mat-header-cell *matHeaderCellDef>Badge Printed <br><br>
            <mat-form-field style="width: 100px;">
                <mat-select [(value)]="selected">
                  <mat-option value="option1">All</mat-option>
                  <mat-option value="option2">True</mat-option>
                  <mat-option value="option3">False</mat-option>
                </mat-select>
              </mat-form-field>
            </th>
        <td mat-cell *matCellDef="let element"> {{element.badgePrinted}} </td>
      </ng-container>

    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
  </table>
</div>
<div mat-dialog-actions style="float: right;">
  <button mat-button (click)="onNoClick()">Close</button>
  <!-- <button mat-button [mat-dialog-close]="dialogdata" cdkFocusInitial>Yes</button> -->
</div>