<div class="modal-content">
	<div class="modal-header commonDialogHeader">
		<button type="button" class="close" data-dismiss="modal"
			aria-hidden="true" data-ng-click="closeSuccessPopup();">&times;</button>
		<h4 class="modal-title">
			<b>{{'cardProfile.messages.popupHeader' | translate }}</b>
		</h4>
	</div>
	<div class="modal-body">
		<div class="searchOrg">
			<div class="col-md-12 searchOrg col-md-12 col-lg-12 text-center">
				{{'cardProfile.messages.popupSuccess' | translate }}</div>
			<div class="col-md-12 col-md-12 col-lg-12 text-center marginT3">
				<button type="button" class="btn btn-blue" id="isLinkUsed"
					data-ng-click="closeSuccessPopup();">{{'common.ok' |
					translate }}</button>
			</div>
		</div>
	</div>
</div>
